@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: space-around;
}

.link {
  list-style: none;
  text-decoration: none;
  margin: 10px;
}

h1 {
  text-align: center;
}
